@model MVC_Northwind.Models.Product
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.ProductName Adlı Ürünü Silmek İstiyor Musunuz?</h2>

@using (Html.BeginForm())
{
    <div class="row" style="margin-top:20px;">
        <div class="col-md-6">
            
            <div class="form-group">
                <label>ÜrünAdı</label>
                @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control", placeholder = Model.ProductName })
            </div>
            <div class="form-group">
                <label>ÜrünFiyatı</label>
                @Html.TextBoxFor(x => x.UnitPrice, new { @class = "form-control", placeholder = Model.UnitPrice })
            </div>
            <div class="form-group">
                <label>ÜrünStok</label>
                @Html.TextBoxFor(x => x.UnitsInStock, new { @class = "form-control", placeholder = Model.UnitsInStock })
            </div>
            <input type="submit" name="Gönderici" class="btn btn-primary" value="Sil" />
        </div>
    </div>
}