@model MVC_Northwind.Models.Product
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <div class="col-lg-12">
            <h2>@Model.ProductName</h2>
            <ul>
                <li>@Model.UnitPrice $$</li>
                <li>@Model.UnitsInStock Adet</li>
              
            </ul>

        </div>
    </div>