@model List<MVC_Northwind.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="row">
          
            <table class="table table-hover">

                <thead>
                    <tr>
                        <th>Ürün Id</th>
                        <th>Ürün Adı</th>
                        <th>Fiyat</th>
                        <th>Stok</th>
                        <th><center>Düzenle </center> </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var product in Model)
                    {
                        <tr>
                            <td>@product.ProductID</td>
                            <td>@product.ProductName</td>
                            <td>@product.UnitPrice $</td>
                            <td>@product.UnitsInStock</td>
                            <td>
                                <center>
                                    <a href="/Product/Delete/@product.ProductID" class="btn btn-sm btn-danger">Sil</a>
                                    <a href="/Product/Update/@product.ProductID" class="btn btn-sm btn-warning">Güncelle</a>
                                    <a href="/Product/Detail/@product.ProductID" class="btn btn-sm btn-info">Bilgi</a>
                                    <a href="/Product/AddtoCart/@product.ProductID" class="btn btn-sm btn-info">Ekle</a>
                                </center>
                            </td>
                        </tr>
                    }
                    <tr style="text-align:center">
                        <td colspan="6"> <a href="/Product/AddProduct" class="btn btn-success">Ürün Ekle</a> </td>

                    </tr>


                </tbody>
            </table>
        </div>
    </div>


