@model List<MVC_Northwind.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Ürün Id</th>
                        <th>Ürün Adı</th>
                        <th>Fiyat</th>
                        <th>Stok</th>
                        <th>Düzenle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                    <tr>
                        <td>@product.ProductID</td>
                        <td>@product.ProductName</td>
                        <td>@product.UnitPrice $</td>
                        <td>@product.UnitsInStock</td>
                        <td>
                            <button class="btn btn-sm btn-danger">Sil</button>
                            <button class="btn btn-sm btn-warning">Güncelle</button>
                        </td>
                    </tr>
                    }

                    <tr style="text-align:center">
                        <td colspan="6"> <button class="btn btn-success">Ürün Ekle</button> </td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>


