
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Ürün Id</th>
                        <th>Ürün Adı</th>
                        <th>Fiyat</th>
                        <th>Stok</th>
                        <th>Durum</th>
                        <th>Düzenle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Chai</td>
                        <td>18$</td>
                        <td>39</td>
                        <td>Read to Go</td>
                        <td>
                            <button class="btn btn-sm btn-danger">Sil</button>
                            <button class="btn btn-sm btn-warning">Güncelle</button>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Chang</td>
                        <td>19$</td>
                        <td>17</td>
                        <td>Read to Go</td>
                        <td>
                            <button class="btn btn-sm btn-danger">Sil</button>
                            <button class="btn btn-sm btn-warning">Güncelle</button>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Aniseed Syrup</td>
                        <td>10$</td>
                        <td>13</td>
                        <td>Ready to Go</td>
                        <td>
                            <button class="btn btn-sm btn-danger">Sil</button>
                            <button class="btn btn-sm btn-warning">Güncelle</button>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Chef Anton's Cajun Seasoning</td>
                        <td>22$</td>
                        <td>53</td>
                        <td>Read to Go</td>
                        <td>
                            <button class="btn btn-sm btn-danger">Sil</button>
                            <button class="btn btn-sm btn-warning">Güncelle</button>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Chef Anton's Gumbo Mix</td>
                        <td>21$</td>
                        <td>0</td>
                        <td>Ready in 20 days</td>
                        <td>
                            <button class="btn btn-sm btn-danger">Sil</button>
                            <button class="btn btn-sm btn-warning">Güncelle</button>
                        </td>
                    </tr>
                    <tr style="text-align:center">
                        <td colspan="6"> <button class="btn btn-success">Ürün Ekle</button> </td>
                       
                    </tr>

                </tbody>
            </table>
        </div>
    </div>


