
<div class="col-lg-12 rounded alert-danger" style="margin-top:10px;">
    <p>Kalıcı Olarak Silmek İstiyor Musunuz?</p>
    <input type="submit" name="name" value="Evet" class="btn btn-danger" />
</div>
