
@{
    ViewBag.Title = "Beverages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="container">
        <center> <h2>Beverages</h2></center>
        <div class="row">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Ürün Id</th>
                        <th>Ürün Adı</th>
                        <th>Fiyat</th>
                        <th>Stok</th>
                        <th>Durum</th>
                        <th>Düzenle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Chai</td>
                        <td>18$</td>
                        <td>39</td>
                        <td>Read to Go</td>
                        <td>
                            <button class="btn btn-sm btn-danger">Sil</button>
                            <button class="btn btn-sm btn-warning">Güncelle</button>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Chang</td>
                        <td>19$</td>
                        <td>17</td>
                        <td>Read to Go</td>
                        <td>
                            <button class="btn btn-sm btn-danger">Sil</button>
                            <button class="btn btn-sm btn-warning">Güncelle</button>
                        </td>
                    </tr>
                    <tr>
                        <td>24</td>
                        <td>Guaraná Fantástica</td>
                        <td>4.5$</td>
                        <td>20</td>
                        <td>Ready to Go</td>
                        <td>
                            <button class="btn btn-sm btn-danger">Sil</button>
                            <button class="btn btn-sm btn-warning">Güncelle</button>
                        </td>
                    </tr>
                    <tr>
                        <td>34</td>
                        <td>Sasquatch Ale</td>
                        <td>14$</td>
                        <td>111</td>
                        <td>Read to Go</td>
                        <td>
                            <button class="btn btn-sm btn-danger">Sil</button>
                            <button class="btn btn-sm btn-warning">Güncelle</button>
                        </td>
                    </tr>
                    <tr>
                        <td>35</td>
                        <td>Steeleye Stout</td>
                        <td>18$</td>
                        <td>20</td>
                        <td>Ready to Go</td>
                        <td>
                            <button class="btn btn-sm btn-danger">Sil</button>
                            <button class="btn btn-sm btn-warning">Güncelle</button>
                        </td>
                    </tr>
                    <tr style="text-align:center">
                        <td colspan="6"> <button class="btn btn-success">Ürün Ekle</button> </td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>


