
@{
    ViewBag.Title = "Condiments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <center> <h2>Condiments</h2></center>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Ürün Id</th>
                    <th>Ürün Adı</th>
                    <th>Fiyat</th>
                    <th>Stok</th>
                    <th>Durum</th>
                    <th>Düzenle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>3</td>
                    <td>Aniseed Syrup</td>
                    <td>10$</td>
                    <td>13</td>
                    <td>Read to Go</td>
                    <td>
                        <button class="btn btn-sm btn-danger">Sil</button>
                        <button class="btn btn-sm btn-warning">Güncelle</button>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Chef Anton's Cajun Seasoning</td>
                    <td>22$</td>
                    <td>53</td>
                    <td>Read to Go</td>
                    <td>
                        <button class="btn btn-sm btn-danger">Sil</button>
                        <button class="btn btn-sm btn-warning">Güncelle</button>
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Chef Anton's Gumbo Mix</td>
                    <td>21$</td>
                    <td>0</td>
                    <td>Ready in 20 days</td>
                    <td>
                        <button class="btn btn-sm btn-danger">Sil</button>
                        <button class="btn btn-sm btn-warning">Güncelle</button>
                    </td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Grandma's Boysenberry Spread</td>
                    <td>25$</td>
                    <td>120</td>
                    <td>Read to Go</td>
                    <td>
                        <button class="btn btn-sm btn-danger">Sil</button>
                        <button class="btn btn-sm btn-warning">Güncelle</button>
                    </td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Northwoods Cranberry Sauce</td>
                    <td>40$</td>
                    <td>6</td>
                    <td>Ready to Go</td>
                    <td>
                        <button class="btn btn-sm btn-danger">Sil</button>
                        <button class="btn btn-sm btn-warning">Güncelle</button>
                    </td>
                </tr>
                <tr style="text-align:center">
                    <td colspan="6"> <button class="btn btn-success">Ürün Ekle</button> </td>

                </tr>

            </tbody>
        </table>
    </div>
</div>