
@{
    ViewBag.Title = "Produce";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <center> <h2>Produce</h2></center>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Ürün Id</th>
                    <th>Ürün Adı</th>
                    <th>Fiyat</th>
                    <th>Stok</th>
                    <th>Durum</th>
                    <th>Düzenle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>7</td>
                    <td>Uncle Bob's Organic Dried Pears</td>
                    <td>30$</td>
                    <td>15</td>
                    <td>Read to Go</td>
                    <td>
                        <button class="btn btn-sm btn-danger">Sil</button>
                        <button class="btn btn-sm btn-warning">Güncelle</button>
                    </td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Tunnbröd</td>
                    <td>23.25$</td>
                    <td>35</td>
                    <td>Read in 30 days</td>
                    <td>
                        <button class="btn btn-sm btn-danger">Sil</button>
                        <button class="btn btn-sm btn-warning">Güncelle</button>
                    </td>
                </tr>


                <tr style="text-align:center">
                    <td colspan="6"> <button class="btn btn-success">Ürün Ekle</button> </td>

                </tr>

            </tbody>
        </table>
    </div>
</div>